.pure-g-about {
    div {
        background-color: gray;
        border: 1px solid rgb(97,97,97);
        width: -moz-calc(33.3333% - 2px);
        width: -webkit-calc(33.3333% - 2px);
        width: calc(33.3333% - 2px);
    }
} 