<!DOCTYPE html> 
<html  lang="en"> 
  <head> 
    {{> document-head }} 
  </head> 
  <body>	
    <div class="header">
		{{> header }}
        {{> vertical }}         
	</div>	
     	 
  </body> 
</html>
