<!DOCTYPE html> 
<html  lang="en"> 
  <head> 
    {{> document-head }} 
  </head> 
  <body>	
    <div class="header">
		{{> header }}          
	</div>	
	{{> body }}          	
    <div class="footer">
		{{> footer }}          
	</div>
    <div id="scripttest"></div>	  
  </body> 
</html>