<!DOCTYPE html> 
<html  lang="en"> 
  <head> 
    {{> head }} 
  </head> 
  <body>
      <div class="header">
        {{> header }}          
      </div>
      <div class="main">
        {{> body }}          
      </div>  
      <div class="footer">
        {{> footer }}          
      </div>  
  </body> 
</html>